.comment {
  display: flex;
  align-items: start;
  margin-top: 29px;

  &__text-container {
    margin-left: 16px;
    color: #898989;
    width: 100%;
  }

  &__name-container {
    display: flex;
    align-items: center;
  }

  &__name {
    color: #303030;
    line-height: 27px;
  }

  &__date {
    font-size: 13px;
    margin-left: 8px;
  }

  &__description {
    font-size: 13px;
    line-height: 20px;
  }

  &__reply-container {
    text-align: right;
    margin-top: 16px;
  }

  &__reply {
    color: #898989;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
  }

  &--child {
    margin-left: 71px;
  }
}
