@font-face {
  font-family: "Josefin Sans";
  src: url("/assets-appolly/fonts/JosefinSans-VariableFont_wght.ttf");
}

@custom-media --md (min-width: 768px);
@custom-media --xl (min-width: 1440px);

.main {
  background-image: url("/assets-appolly/images/Background Image.png");
  font-family: "Josefin Sans";
  overflow: hidden;

  @media (--md) {
    background-image: url("/assets-appolly/images/Background Image (1).png");
  }

  @media (--xl) {
    background-image: url("/assets-appolly/images/Background Image (2).png");
  }

  .row {
    margin: 0 auto;

    @media (--md) {
      max-weight: 768px;
    }

    @media (--xl) {
      max-width: 1440px;
    }
  }

  .logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background: #fff;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

    @media (--md) {
      top: 114px;
      width: 200px;
      height: 90px;
    }

    @media (--xl) {
      top: 104px;
    }

    .logo {
      width: 79px;
      height: 12px;

      @media (--md) {
        width: 167px;
        height: 28px;
      }
    }
  }

  .header {
    padding: 40px 16px 0;

    @media (--md) {
      padding: 25px 0;
      width: 688px;
    }

    @media (--xl) {
      padding-top: 35px;
      width: 1170px;
    }

    .contact-section {
      display: none;
      @media (--md) {
        display: flex;
        justify-content: space-between;
      }

      .contact-container {
        display: flex;
        align-items: center;
        color: #fff;
        line-height: 24px;

        .contact-image {
          margin-right: 18px;
        }

        .email-container {
          display: flex;
          margin-right: 48px;
        }

        .phone-container {
          display: flex;
        }
      }

      .social-container {
        width: 162px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-image {
          height: 18px;

          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }

    .menu-container {
      padding: 0 3px 0 9px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3px;
      height: 40px;

      @media (--md) {
        margin-top: 35px;
        padding: 0 5px 0 18px;
        height: 60px;
      }

      @media (--xl) {
        margin-top: 15px;
        padding-left: 52px;
      }

      .menu-item {
        margin-right: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #232233;
        text-decoration: none;

        &:hover {
          color: #5956e9;
          text-decoration: underline;
        }
      }

      .main-menu-items-container {
        display: none;

        @media (--xl) {
          display: flex;
          margin-right: 319px;
        }
      }

      .secondary-menu-items-container {
        display: none;

        @media (--xl) {
          display: flex;
        }
      }

      .menu-button {
        border: none;
        background: transparent;
        padding: 0;

        @media (--xl) {
          display: none;
        }
      }

      .download-button {
        border: none;
        background: #5956e9;
        border-radius: 3px;
        color: #fff;
        font-size: 10px;
        width: 76px;
        height: 34px;

        @media (--md) {
          border-radius: 5px;
          width: 158px;
          height: 50px;
          font-size: 20px;
        }

        &:hover {
          filter: brightness(120%);
        }
      }
    }
  }

  .home-section {
    margin-top: 108px;
    padding-bottom: 120px;
    position: relative;

    @media (--md) {
      margin-top: 236px;
      display: flex;
      width: 740px;
    }

    @media (--xl) {
      margin-top: 82px;
      width: 1170px;
    }

    .download-section {
      margin: 0 16px;
      position: relative;
      height: 368px;

      @media (--md) {
        margin: 34px 0 0 26px;
        width: 391px;
        height: 381px;
      }

      @media (--xl) {
        width: 620px;
        height: 535px;
        margin: 105px 0 0;
      }

      .decore-rectangle {
        position: absolute;
        width: 303px;
        height: calc(100% - 20px);
        width: calc(100% - 40px);
        border: 10px solid #7572ff;
        margin-left: 20px;
        margin-right: 16px;
        z-index: 1;

        @media (--md) {
          width: calc(375px - 18px - 18px);
          height: calc(381px - 18px - 18px);
          border: 18px solid #7572ff;
        }

        @media (--xl) {
          width: calc(570px - 18px - 18px);
          height: calc(535px - 18px - 18px);
          right: 0;
          margin: 0;
        }
      }

      .download-container {
        position: absolute;
        z-index: 2;
        background: #fff;
        margin-right: 20px;
        padding: 30px 12px 20px 18px;
        top: 20px;
        height: calc(318px - 40px);

        @media (--md) {
          padding: 14px 7px 14px 18px;
          top: 33px;
          width: calc(356px - 7px - 18px);
          height: calc(318px - 14px - 14px);
        }

        @media (--xl) {
          padding: 40px 23px 41px 30px;
          top: 51px;
          width: calc(570px - 23px - 30px);
          height: calc(432px - 40px - 41px);
        }

        &__header {
          color: #5956e9;
          font-size: 25px;
          font-weight: 600;
          line-height: 37.5px;

          @media (--md) {
            font-size: 31.25px;
            font-weight: 700;
            line-height: 47.25px;
          }

          @media (--xl) {
            font-size: 48px;
            line-height: 130%;
          }

          &--secondary {
            color: #232233;
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;

            @media (--md) {
              margin-top: 23px;
            }

            @media (--xl) {
              font-size: 25px;
              font-weight: 600;
              line-height: 37.5px;
              margin-top: 52px;
            }
          }
        }

        .download-buttons-container {
          margin-top: 18px;

          @media (--xl) {
            margin-top: 5px;
          }
        }

        &__image {
          width: 109px;
          height: 34px;
          margin-right: 10px;

          @media (--xl) {
            width: 149px;
            height: 47px;
          }
        }
      }
    }

    .home-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 0 55px;

      @media (--md) {
        margin: 0 0 0 55px;
      }

      @media (--xl) {
        margin-left: 124px;
      }

      .home-image {
        @media (--md) {
          height: 423px;
        }

        @media (--xl) {
          height: 725px;
        }
      }
    }
  }

  .description-text {
    color: #6c6c72;
    line-height: 24px;
    margin-top: 6px;

    @media (--xl) {
      width: 487px;
      margin-top: 18px;
    }
  }

  .section-header {
    color: #232233;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;

    @media (--md) {
      font-size: 31.25px;
      font-weight: 700;
      line-height: 47.25px;
    }

    &--features {
      color: #fff;
    }
  }

  .about-section {
    background: #fff;
    padding: 60px 0 92px;
    text-align: center;

    @media (--md) {
      padding: 120px 0 159px;
    }

    @media (--xl) {
      padding: 120px 0;
    }

    &__description-container {
      display: flex;
      justify-content: center;
    }

    &__description {
      margin-top: 18px;
      width: 300px;

      @media (--md) {
        width: 450px;
      }

      @media (--xl) {
        width: 601px;
      }
    }

    &__content-container {
      margin-top: 40px;

      @media (--md) {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
    }

    &__image {
      width: 238px;
      height: 324px;

      @media (--md) {
        margin-top: 14px;
        margin-right: 60px;
      }

      @media (--xl) {
        margin-top: 0;
        width: 386px;
        height: 526px;
        margin-right: 188px;
      }
    }
  }

  .features-section {
    padding: 60px 0;
    text-align: center;
    color: #fff;

    @media (--md) {
      padding: 120px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__description {
      color: #fff;
      margin: 18px auto 0;
      width: 300px;

      @media (--md) {
        width: 450px;
      }

      @media (--xl) {
        width: 601px;
      }
    }

    .feature {
      margin-top: 32px;

      @media (--md) {
        margin-top: 17px;
      }

      @media (--xl) {
        margin-top: 0;
      }

      &--edged {
        @media (--md) {
          margin-top: 60px;
          width: 319px;
        }
      }

      &--first {
        @media (--md) {
          width: 223px;
        }

        @media (--xl) {
          width: 297px;
        }
      }

      &--third {
        @media (--md) {
          margin-top: 70px;
        }

        @media (--xl) {
          margin-top: 347px;
        }
      }

      &--fifth {
        @media (--md) {
          margin-top: 40px;
        }

        @media (--xl) {
          margin-top: 347px;
        }
      }

      &__header {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

        @media (--xl) {
          margin-top: 22px;
          font-size: 25px;
          line-height: 37.5px;
        }
      }

      &__description {
        margin: 18px auto 0;
        line-height: 24px;
        color: #fff;
        width: 213px;

        @media (--md) {
          width: auto;
        }

        @media (--xl) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .columns-content {
      @media (--md) {
        display: flex;
        margin-top: 60px;
        width: 700px;
      }

      @media (--xl) {
        width: 1145px;
      }

      &__first {
        @media (--md) {
          text-align: right;
        }

        @media (--xl) {
          margin-top: 60px;
        }
      }

      &__second {
        width: 214px;
        height: 468px;
        margin-top: 60px;
        border-radius: 40px;
        box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);

        @media (--md) {
          margin: 0 18px;
          box-shadow: 10px 10px 100px 0px rgba(24, 48, 63, 0.3);
        }

        @media (--xl) {
          width: 375px;
          height: 812px;
          margin-left: 60px;
          margin-right: 60px;
          box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
        }
      }

      &__third {
        margin-top: 120px;

        @media (--md) {
          margin-top: 0;
          text-align: left;
        }

        @media (--xl) {
          margin-top: 60px;
        }
      }
    }
  }

  .screenshot-section {
    background: #fff;
    padding: 60px 0;
    text-align: center;

    @media (--md) {
      padding: 120px 0;
    }

    @media (--xl) {
      padding-bottom: 193px;
    }

    &__header {
      width: 360px;
      margin: 0 auto;

      @media (--xl) {
        width: 100%;
      }
    }

    &__description {
      margin-top: 18px;
      width: 300px;
      margin: 18px auto;

      @media (--md) {
        width: 450px;
      }

      @media (--xl) {
        margin-top: 23px;
        width: 601px;
      }
    }

    .slider-container {
      @media (--xl) {
        display: flex;
        align-items: center;
        width: 1294px;
      }

      .slider-button {
        display: none;
        @media (--xl) {
          display: block;
          width: 84px;
          height: 84px;
          border: none;
          background: #5956e9;
          border-radius: 50%;
        }

        &:hover {
          filter: brightness(120%);
        }

        &--left {
          background: #fff;
          border: 1px solid #5956e9;

          &:hover {
            filter: brightness(95%);
          }
        }
      }

      &__image {
        @media (--xl) {
          width: 319px;
          height: 622px;
        }
      }

      &__secondary-image {
        @media (--xl) {
          width: 246px;
          height: 532px;
        }
      }

      .images-container {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        margin-top: 40px;

        @media (--md) {
          position: relative;
          margin: 60px auto 0;
          width: 688px;
        }

        @media (--xl) {
          width: 1066px;
          margin: 60px auto 0;
        }

        .covered-image {
          @media (--md) {
            position: absolute;
          }

          &--first {
            @media (--md) {
              left: 0;
              z-index: 0;
            }
          }

          &--fifth {
            @media (--md) {
              right: 0;
              z-index: 0;
            }
          }
        }

        .covering-image {
          @media (--md) {
            z-index: 1;
          }
        }
      }
    }

    .slider-image {
      margin-top: 40px;

      @media (--md) {
        margin-top: 60px;
      }

      @media (--xl) {
        margin-top: 40px;
      }
    }

    .download-section {
      margin: 60px 20px 0;
      text-align: left;

      @media (--md) {
        margin: 120px auto 0;
        display: flex;
        justify-content: space-between;
        width: 687px;
      }

      @media (--xl) {
        width: 1166px;
      }

      .download-container {
        &__header {
          width: 288px;

          @media (--xl) {
            width: 100%;
          }
        }

        &__description {
          margin-top: 18px;

          @media (--md) {
            margin-top: 19px;
            width: 329px;
          }

          @media (--xl) {
            margin-top: 1px;
            width: 570px;
          }
        }

        .download-buttons-container {
          margin-top: 40px;
        }

        &__image {
          margin-right: 25px;
        }

        .facts-section {
          display: flex;
          justify-content: space-between;
          margin-top: 60px;
          width: 324px;

          @media (--md) {
            margin-top: 40px;
            width: 100%;
          }

          @media (--xl) {
            margin-top: 60px;
          }

          .fact-container {
            background: #5956e9;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 96px;
            height: 100px;
            color: #fff;
            border-radius: 5px;

            @media (--xl) {
              width: 170px;
              height: 176px;
            }

            .fact-icon {
              margin-top: 11px;

              @media (--xl) {
                width: 35px;
                margin-top: 30px;
              }
            }

            .fact-value {
              margin-top: 8px;
              font-size: 20px;
              font-weight: 600;
              line-height: 30px;

              @media (--xl) {
                font-size: 25px;
                line-height: normal;
                margin-top: 18px;
              }
            }

            .fact {
              line-height: 24px;

              @media (--xl) {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                margin-top: 18px;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      &__image-container {
        display: flex;
        justify-content: center;
      }

      &__image {
        margin-top: 60px;

        @media (--md) {
          margin-top: 96px;
          height: 311px;
          width: 334px;
        }

        @media (--xl) {
          width: 516px;
          height: 480px;
          margin-top: 0;
        }
      }
    }
  }

  .guide-section {
    text-align: center;
    position: relative;
    margin-top: 60px;
    height: calc(357px - 60px);

    @media (--md) {
      margin-top: 49px;
      height: calc(402px - 49px);
    }

    @media (--xl) {
      margin-top: 120px;
      height: calc(477px - 120px);
    }

    &__header {
      color: #fff;
    }

    &__description {
      color: #fff;
      width: 300px;
      margin: 40px auto 0;

      @media (--md) {
        width: 450px;
        margin: 18px auto 0;
      }

      @media (--xl) {
        margin: 23px auto 0;
        width: 601px;
      }
    }

    &__video-container {
      position: absolute;
      bottom: -75px;
      left: 50%;
      transform: translate(-50%, 0);

      @media (--md) {
        bottom: -115.5px;
      }

      @media (--xl) {
        bottom: -159px;
      }
    }

    &__image-container {
      position: relative;
    }

    &__video-image {
      width: 343px;
      height: 150px;
      border-radius: 10px;
      object-fit: cover;

      @media (--md) {
        width: 570px;
        height: 231px;
      }

      @media (--xl) {
        width: 770px;
        height: 319px;
      }
    }

    &__video-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        filter: brightness(90%);
      }
    }
  }

  .team-section {
    background: #fff;
    text-align: center;
    padding: 134px 16px 60px;

    @media (--md) {
      padding: 241px 0 120px;
    }

    &__description {
      margin: 18px 22px 0;

      @media (--md) {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
      }

      @media (--xl) {
        width: 601px;
        margin-top: 23px;
      }
    }
  }

  .customers-section {
    padding: 60px 0;
    text-align: center;

    @media (--md) {
      padding: 120px 0;
    }

    @media (--xl) {
      padding: 120px 0 118px;
    }

    &__header {
      color: #fff;
    }

    &__description {
      color: #fff;
      width: 300px;
      margin: 18px auto 0;

      @media (--md) {
        width: 450px;
      }

      @media (--xl) {
        margin-top: 23px;
        width: 601px;
      }
    }

    .all-customers-container {
      margin: 32px auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 375px;

      @media (--md) {
        margin-top: 40px;
        width: 688px;
      }

      @media (--xl) {
        margin-top: 60px;
        width: 1171px;
      }

      .customer-container {
        background: #fff;
        box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        width: 343px;
        height: 250px;
        z-index: 2;

        @media (--md) {
          width: 450px;
          height: 250px;
        }

        @media (--xl) {
          width: 770px;
          height: 357px;
        }

        &--edged {
          height: 215px;
          position: absolute;
          z-index: 1;

          @media (--md) {
            height: 210px;
          }

          @media (--xl) {
            width: 570px;
            height: 330px;
          }
        }

        &--first {
          left: -45px;

          @media (--md) {
            left: 0;
          }
        }

        &--third {
          right: -50px;

          @media (--md) {
            right: 0;
          }
        }

        &__image {
          margin-top: 20px;

          @media (--md) {
            margin-top: 23px;
          }

          @media (--xl) {
            margin-top: 40px;
            width: 96px;
          }
        }

        &__name {
          margin-top: 12px;
          color: #232233;
          font-size: 25px;
          font-weight: 600;
          line-height: 37.5px;

          @media (--xl) {
            margin-top: 20px;
            font-size: 31.25px;
            font-weight: 700;
            line-height: 47.25px;
          }
        }

        &__job {
          color: #232233;
          line-height: 24px;

          @media (--xl) {
            margin-top: 1px;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
          }
        }

        &__description {
          color: #6c6c72;
          line-height: 24px;
          width: 316px;
          margin: 18px auto 0;

          @media (--md) {
            width: 374px;
          }

          @media (--xl) {
            margin-top: 8px;
            width: 647px;
          }
        }
      }
    }

    .customers-slider-image {
      margin-top: 40px;

      @media (--md) {
        margin-top: 60px;
      }
    }
  }

  .blog-section {
    padding: 60px 16px 210px;
    background: #fff;
    text-align: center;
    position: relative;

    @media (--md) {
      padding: 120px 0 195px;
    }

    @media (--xl) {
      padding: 120px 0 248px;
    }

    &__description {
      width: calc(450px - 32px);
      margin: 18px auto 0;

      @media (--xl) {
        margin-top: 23px;
        width: 601px;
      }
    }

    .all-blogs-container {
      margin-top: 40px;

      @media (--md) {
        width: 688px;
        display: flex;
        justify-content: space-between;
      }

      @media (--xl) {
        width: 1170px;
        margin-top: 60px;
      }

      .blog-card {
        height: 482px;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin-top: 40px;

        @media (--md) {
          width: 213px;
          height: 633px;
          margin-top: 0;
        }

        @media (--xl) {
          width: 370px;
          height: 500px;
        }

        &__image-container {
          display: flex;
          justify-content: center;
        }

        &__image {
          width: 343px;
          height: 228px;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
          width: 100%;

          @media (--md) {
            width: 213px;
            height: 228px;
          }

          @media (--xl) {
            width: 370px;
          }
        }

        &__name {
          color: #232233;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          margin: 30px auto 0 18px;

          @media (--xl) {
            margin: 40px 18px 0;
          }
        }

        &__description {
          margin: 18px 10px 0 18px;

          @media (--xl) {
            margin-top: 10px;
            width: calc(100% - 36px);
          }
        }

        &__link-container {
          margin: 20px 0 0 18px;

          @media (--md) {
            margin-top: 40px;
          }

          @media (--xl) {
            margin-top: 30px;
          }
        }

        &__link {
          color: #5956e9;
          font-size: 20px;
          font-weight: 600;
          line-height: 130%;

          &:hover {
            filter: brightness(130%);
          }
        }
      }
    }

    .contact-container {
      position: absolute;
      bottom: -161px;
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.24);
      border-radius: 10px;
      padding-bottom: 30px;
      width: calc(100% - 32px);
      background: #fff;

      @media (--md) {
        bottom: -75px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 15px;
        padding: 22px 0 22px 18px;
        width: calc(688px - 18px);
      }

      @media (--xl) {
        bottom: -115px;
        border-radius: 30px;
        padding: 57px 0 56px 50px;
        width: calc(1170px - 50px);
      }

      &__main-content {
        @media (--md) {
          display: flex;
          align-items: center;
        }

        .content-container {
          @media (--md) {
            display: flex;
            align-items: center;
            justify-content: start;
          }

          .content-image {
            margin-top: 30px;

            @media (--md) {
              width: 60px;
              margin-top: 0;
            }

            @media (--xl) {
              width: 100px;
            }
          }

          .content-text {
            margin-top: 20px;
            color: #232233;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;

            @media (--md) {
              margin-top: 0;
              margin-left: 18px;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }

            @media (--xl) {
              font-size: 25px;
              font-weight: 600;
              line-height: 37.5px;
            }
          }
        }

        .line {
          width: 117px;
          height: 4px;
          background: #232233;
          margin: 20px auto 0;

          @media (--md) {
            margin: 0 30px 0 103px;
            width: 3px;
            height: 106px;
          }

          @media (--xl) {
            margin: 0 50px 0 184px;
            width: 4px;
            height: 117px;
          }
        }
      }
    }
  }

  .footer {
    background: #232233;
    padding: 220px 16px 30px;
    color: #fff;

    @media (--md) {
      padding: 135px 40px 18px;
    }

    @media (--xl) {
      padding: 235px 135px 18px;
    }

    &__content-columns {
      @media (--md) {
        display: flex;
      }
    }

    &__first-column {
      .logo-text {
        font-size: 31.25px;
        font-weight: 700;
        line-height: 47.25px;
      }
    }

    &__description {
      color: #fff;
      width: 334px;
      margin-top: 1px;

      @media (--md) {
        margin-top: 7px;
        width: 213px;
      }

      @media (--xl) {
        margin-top: 1px;
        width: 334px;
      }
    }

    &__socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 276px;
      margin-top: 38px;

      @media (--md) {
        width: 213px;
      }

      @media (--xl) {
        width: 276px;
      }

      .social-icon {
        width: 24px;

        &:hover {
          filter: brightness(80%);
        }
      }

      .line {
        width: 1px;
        height: 20px;
        background: #fff;
      }
    }

    &__second-column {
      margin-top: 60px;

      @media (--md) {
        margin-top: 12px;
        margin-left: 24px;
      }

      @media (--xl) {
        margin-top: 0;
        margin-left: 66px;
      }

      .menu-link-container {
        margin-top: 11px;
        line-height: 24px;

        @media (--md) {
          margin-top: 26px;
        }

        @media (--xl) {
          margin-top: 11px;
        }

        .menu-link {
          text-decoration: none;
          color: #fff;

          &:hover {
            filter: brightness(60%);
          }
        }
      }
    }

    &__header {
      font-size: 25px;
      font-weight: 600;
      line-height: 37.5px;

      @media (--md) {
        font-size: 20px;
        line-height: 30px;
      }

      @media (--xl) {
        font-size: 25px;
        line-height: 37.5px;
      }

      &--links {
        @media (--md) {
          width: 123px;
        }

        @media (--xl) {
          width: 154px;
        }
      }
    }

    &__third-column {
      margin-top: 60px;

      @media (--md) {
        margin-top: 12px;
        margin-left: 115px;
      }

      @media (--xl) {
        margin-top: 0;
        margin-left: 246px;
      }

      .contact-input-container {
        margin-top: 33px;
        position: relative;

        @media (--md) {
          margin-top: 30px;
        }

        @media (--xl) {
          margin-top: 33px;
        }

        .contact-input {
          width: calc(100% - 17px - 2px);
          height: calc(50px - 2px);
          padding-left: 17px;
          font-family: "Josefin Sans";
          border: none;
          border-radius: 4px;
          color: #6c6c72;

          @media (--md) {
            font-size: 12.8px;
          }

          @media (--xl) {
            padding-left: 18px;
            font-size: 16px;
            width: calc(369px - 18px - 2px);
          }
        }

        .send-button {
          position: absolute;
          top: 2px;
          right: 3px;
          width: 48px;
          height: 46px;
          padding: 0;
          border-radius: 4px;
          border: none;
          background: #5956e9;

          @media (--xl) {
            width: 52px;
          }

          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }

    &__news-description {
      margin-top: 11px;
      color: #fff;

      @media (--md) {
        margin-top: 13px;
      }

      @media (--xl) {
        margin-top: 11px;
        width: 298px;
      }
    }

    .horizontal-line {
      margin-top: 60px;
      width: 100%;
      height: 1px;
      background: #fff;

      @media (--md) {
        margin-top: 56px;
      }

      @media (--xl) {
        margin-top: 64px;
      }
    }

    .copyright-container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (--md) {
        margin-top: 18px;
      }

      .copyright-image {
        width: 18px;
      }

      .copyright-text {
        margin-left: 18px;
        font-size: 12.8px;
        font-weight: 300;

        @media (--md) {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
