@font-face {
  font-family: "Josefin Sans";
  src: url("/assets-appolly/fonts/JosefinSans-VariableFont_wght.ttf");
}

@custom-media --m (min-width: 768px);
@custom-media --xl (min-width: 1440px);

.main {
  background-image: url("/assets-appolly/images/Background Image.png");
  font-family: "Josefin Sans";
  position: relative;

  @media (--m) {
    background-image: url("/assets-appolly/images/Background Image (1).png");
    height: 100%;
  }

  @media (--xl) {
    background-image: url("/assets-appolly/images/Background Image (2).png");
    height: 100%;
  }

  .logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background: #fff;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

    @media (--m) {
      top: 114px;
      width: 200px;
      height: 90px;
    }

    @media (--xl) {
      top: 104px;
    }

    .logo {
      width: 79px;
      height: 12px;

      @media (--m) {
        width: 167px;
        height: 28px;
      }
    }
  }

  .header {
    padding: 40px 16px 0;

    @media (--m) {
      padding: 25px 40px 0;
    }

    @media (--xl) {
      padding: 35px 135px 0;
    }

    .contact-section {
      display: none;
      @media (--m) {
        display: flex;
        justify-content: space-between;
      }

      .contact-container {
        display: flex;
        align-items: center;
        color: #fff;
        line-height: 24px;

        .contact-image {
          margin-right: 18px;
        }

        .email-container {
          display: flex;
          margin-right: 48px;
        }

        .phone-container {
          display: flex;
        }
      }

      .social-container {
        width: 162px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-image {
          height: 18px;
        }
      }
    }

    .menu-container {
      padding: 0 3px 0 9px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3px;
      height: 40px;

      @media (--m) {
        margin-top: 35px;
        padding: 0 5px 0 18px;
        height: 60px;
      }

      @media (--xl) {
        margin-top: 15px;
        padding-left: 52px;
      }

      .menu-item {
        margin-right: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #232233;
      }

      .main-menu-items-container {
        display: none;

        @media (--xl) {
          display: flex;
          margin-right: 319px;
        }
      }

      .secondary-menu-items-container {
        display: none;

        @media (--xl) {
          display: flex;
        }
      }

      .menu-button {
        border: none;
        background: transparent;
        padding: 0;

        @media (--xl) {
          display: none;
        }
      }

      .download-button {
        border: none;
        background: #5956e9;
        border-radius: 3px;
        color: #fff;
        font-size: 10px;
        width: 76px;
        height: 34px;

        @media (--m) {
          border-radius: 5px;
          width: 158px;
          height: 50px;
          font-size: 20px;
        }
      }
    }
  }

  .home-section {
    margin-top: 108px;

    @media (--m) {
      margin-top: 236px;
      display: flex;
      justify-content: space-between;
    }

    @media (--xl) {
      margin: 82px 115px 0 135px;
    }

    .download-section {
      margin: 0 16px;
      position: relative;
      height: 368px;

      @media (--m) {
        margin: 34px 0 0 40px;
        width: 391px;
        height: 381px;
      }

      @media (--xl) {
        width: 620px;
        height: 535px;
        margin: 105px 0 0;
      }

      .decore-rectangle {
        position: absolute;
        width: 303px;
        height: calc(100% - 20px);
        width: calc(100% - 40px);
        border: 10px solid #7572ff;
        margin-left: 20px;
        margin-right: 16px;
        z-index: 1;

        @media (--m) {
          width: calc(375px - 18px - 18px);
          height: calc(381px - 18px - 18px);
          border: 18px solid #7572ff;
        }

        @media (--xl) {
          width: calc(570px - 18px - 18px);
          height: calc(535px - 18px - 18px);
          right: 0;
          margin: 0;
        }
      }

      .download-container {
        position: absolute;
        z-index: 2;
        background: #fff;
        margin-right: 20px;
        padding: 30px 12px 20px 18px;
        top: 20px;
        height: calc(318px - 40px);

        @media (--m) {
          padding: 14px 7px 14px 18px;
          top: 33px;
          width: calc(356px - 7px - 18px);
          height: calc(318px - 14px - 14px);
        }

        @media (--xl) {
          padding: 40px 23px 41px 30px;
          top: 51px;
          width: calc(570px - 23px - 30px);
          height: calc(432px - 40px - 41px);
        }

        &__header {
          color: #5956e9;
          font-size: 25px;
          font-weight: 600;
          line-height: 37.5px;

          @media (--m) {
            font-size: 31.25px;
            font-weight: 700;
            line-height: 47.25px;
          }

          @media (--xl) {
            font-size: 48px;
            line-height: 130%;
          }

          &--secondary {
            color: #232233;
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;

            @media (--m) {
              margin-top: 23px;
            }

            @media (--xl) {
              font-size: 25px;
              font-weight: 600;
              line-height: 37.5px;
              margin-top: 52px;
            }
          }
        }

        &__description {
          color: #6c6c72;
          line-height: 24px;
          margin-top: 6px;

          @media (--xl) {
            width: 487px;
            height: 66px;
            margin-top: 18px;
          }
        }

        .download-buttons-container {
          margin-top: 18px;

          @media (--xl) {
            margin-top: 5px;
          }
        }

        &__image {
          width: 109px;
          height: 34px;
          margin-right: 10px;

          @media (--xl) {
            width: 149px;
            height: 47px;
          }
        }
      }
    }

    .home-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 0 55px;

      @media (--m) {
        margin-top: 0;
      }

      .home-image {
        @media (--m) {
          height: 423px;
        }

        @media (--xl) {
          height: 725px;
        }
      }
    }
  }
}
