@custom-media --xl (min-width: 1280px);

.body {
  margin: 0 16px;

  @media (--xl) {
    margin: 115px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .form {
    margin-top: 53px;

    @media (--xl) {
      width: 500px;
      margin-top: 0;
    }

    .header-text {
      color: #303030;
      font-size: 26px;
      line-height: 31px;

      @media (--xl) {
        margin: 0;
      }
    }

    .label {
      color: #898989;
      font-size: 13px;
      line-height: 20px;
      margin-top: 35px;
    }

    .input {
      width: calc(100% - 20px);
      height: calc(45px - 20px);
      border: 0;
      border-radius: 7px;
      background: #f6f6f6;
      margin-top: 9px;
      color: #898989;
      font-size: 16px;
      padding: 10px;

      &--comment {
        height: calc(150px - 20px);
      }
    }

    &__button-container {
      margin-top: 39px;

      .button {
        width: 104px;
        height: 40px;
        border-radius: 5px;
        background: #ec7160;
        border: 0;
        color: #fff;
        font-size: 13px;
      }
    }
  }

  .contacts-container {
    @media (--xl) {
      margin-top: 142px;
      margin-left: 100px;
    }

    .contacts {
      margin-top: 35px;

      @media (--xl) {
        margin-top: 91px;
      }

      &__text {
        color: #898989;
        font-size: 13px;
        line-height: 20px;
        margin-top: 5px;

        &--header {
          color: #303030;
        }
      }
    }
  }
}
