@custom-media --xl (min-width: 1280px);

.drawer-menu {
  background: #f6f6f6;

  @media (--xl) {
    display: none;
  }

  &__content {
    margin: 21px 0 0 16px;
    width: calc(204px - 16px);
    transition: width 0.2s linear;

    &--close {
      width: 0;
      margin-left: 0;
      overflow: hidden;
      transition: all 0.2s linear;
    }
  }

  .menu-responsive {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
  }

  .menu-button {
    border: none;
    background: transparent;
  }

  .menu-item {
    color: #898989;
    margin-top: 11px;
    line-height: 27px;
    text-decoration: none;
  }
}
