@custom-media --xl (min-width: 1280px);

.drawer-menu {
  background: #f6f6f6;
  font-family: "Inter";

  @media (--xl) {
    display: none;
  }

  &__content {
    margin-top: 21px;
    width: 204px;
    transition: width 0.2s linear;

    &--close {
      width: 0;
      margin-left: 0;
      overflow: hidden;
      transition: all 0.2s linear;
    }
  }

  .menu-responsive {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .menu-button {
    border: none;
    background: transparent;
    padding: 0;

    .close-logo {
      margin-left: 15px;
    }
  }

  .menu-item {
    color: #898989;
    margin-top: 21px;
    margin-left: 27px;

    text-decoration: none;

    &--active {
      border-left: 3px solid #ec7160;
      padding-left: 12px;
      margin-left: 15px;
    }
  }
}
