@custom-media --xl (min-width: 1280px);

.article {
  margin-top: 16px;

  .link {
    text-decoration: none;
  }

  &__content-container {
    padding: 10px;
  }

  &__header {
    color: #303030;
  }

  &__tags {
    color: #ec7160 !important;
    margin-top: 3px;
  }

  &__description {
    margin-top: 8px;
  }

  &__content-text {
    color: #898989;
    font-size: 13px;
    line-height: 20px;
  }

  &__datetime {
    margin-top: 16px;
  }

  &:hover {
    border-radius: 8px;
    background: #f6f6f6;
  }
}

.row {
  margin-left: 16px;
  margin-right: 16px;

  @media (--xl) {
    margin-left: 6px;
    margin-right: 6px;
  }
}
