@font-face {
  font-family: "Graphik Regular";
  src: url("/assets-digital-agency-enver/fonts/GraphikRegular.otf");
}

@custom-media --xl (max-width: 730px);

.main {
  background: #19191b;
  padding: 30px 0;
  min-height: 100%;
  font-family: "Graphik Regular";

  .github-container {
    display: flex;
    justify-content: center;

    &__logo {
      width: 20px;
      margin-right: 5px;
    }

    &__link {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      &:hover {
        color: #ccc;
      }
    }
  }

  .cards-section {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-top: 20px;

    @media (--xl) {
      grid-template-columns: auto;
      height: auto;
    }
  }

  .landing-card {
    background: #fff;
    width: 310px;

    .image-container {
      overflow: hidden;

      .image-link {
        display: block;
        line-height: 0;

        .landing-image {
          width: 100%;
          transition: all 0.2s linear;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .landing-links-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 10px;

      .landing-link {
        margin-bottom: 15px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-weight: 900;

        &:hover {
          color: #333;
        }
      }
    }
  }
}
