@custom-media --md (min-width: 768px);
@custom-media --xl (min-width: 1440px);

.team-members-container {
  margin-top: 40px;

  @media (--md) {
    margin: 32px auto 0;
    display: flex;
    justify-content: space-between;
    width: 688px;
  }

  @media (--xl) {
    margin-top: 60px;
    width: 1170px;
  }
}
