.html,
.body {
    height: 100%;
}

.main {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logoContainer {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
}

.logoText {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    margin-left: 12px;
}

.signInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.signInForm {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.headlineText {
    color: #344054;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.hintText {
    color: #667085;
    font-size: 16px;
    line-height: 24px;
}

.emailContainer {
    margin-top: 56px;
}

.inputLabel {
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.inputContent {
    display: flex;
    align-items: center;
    justify-content: end;
}

.input {
    padding: 10px 38px 10px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 100%;
    color: #667085;
    font-size: 16px;
    line-height: 24px;
}

.inputImage {
    position: absolute;
    margin: 14px;
}

.passwordContainer {
    margin-top: 20px;
}

.rememberMeContainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.rememberMeSection {
    display: flex;
    align-items: center;
}

.inputCheckbox {
    appearance: none;
    position: relative;
}

.inputCheckbox::before {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    content: "";
    display: block;
    border: 1px solid #D0D5DD;
}

.inputCheckbox:checked::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5429FF;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    content: "";
}

.rememberMeText {
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 8px;
}

.forgotPasswordText {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #5429FF;
    text-decoration: none;
}

.signInButton {
    background: #5429FF;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0 12px 0;
    margin-top: 32px;
    cursor: pointer;
}

.googleImage {
    margin-right: 8px;
}

.googleSignInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    color: #344054;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 9px 0 9px 0;
    margin-top: 16px;
    cursor: pointer;
}

.registerSection {
    display: flex;
    color: #344054;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}

.signUpText {
    margin-left: 4px;
    color: #5429FF;
    text-decoration: none;
    font-weight: 500;
}

.creditsContainer {
    position: absolute;
    color: #667085;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    bottom: 40px;
    left: 40px;
}

.imageMainSection {
    height: 100%;
    width: 60%;
}

.imageColorfulSection {
    display: flex;
    justify-content: center;
    background: #CBCCE8;
    border-radius: 40px;
    margin: 32px 32px 32px 0;
    height: calc(100% - 64px);
}

.marketImage {
    max-width: 100%;
    max-height: 100%;
    margin: 0px 16px 31px 16px;
}

@font-face {
    font-family: 'Inter';
    src: url("/assets-sign-in-nft/fonts/Inter-VariableFont_slnt\,wght.ttf");
}