.main {
    background: #FCFDFF;
}

.logoContainer {
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.logoText {
    color: #000;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

.signInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signInForm {
    display: flex;
    flex-direction: column;
}

.headlineText {
    color: #344054;
    font-size: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.hintText {
    color: #667085;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.emailContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-top: 56px;
}

.inputLabel {
    color: var(--secondary-color, #344054);
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.inputContent {
    position: relative;
    display: flex;
    align-items: center;
    gap: 115px;
    justify-content: end;
}

.input {
    display: flex;
    padding: 10px 38px 10px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 100%;
    color: var(--accent-2, #667085);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.inputImage {
    position: absolute;
    margin: 14px;
}

.passwordContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-top: 20px;
}