@custom-media --xl (min-width: 1280px);

.comments {
  margin-top: 42px;

  @media (--xl) {
    margin-top: 48px;
  }

  &__header {
    color: #303030;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }
}
