@custom-media --xl (min-width: 1280px);

.all-articles-section {
  margin-bottom: 30px;
  @media (--xl) {
    width: 320px;
  }

  .link {
    text-decoration: none;
  }

  .header-additional-info {
    color: #ec7160;
    line-height: 20px;
    font-size: 13px;
    margin-top: 49px;

    &--other {
      margin-top: 9px;
      margin-bottom: 9px;
    }
  }

  .article {
    margin: 16px 17px 0 17px;

    &:hover {
      border-radius: 8px;
      background: #f6f6f6;
    }

    &__content-container {
      padding: 10px;
    }

    &__header {
      color: #303030;
    }

    &__description {
      margin-top: 3px;
    }

    &__content-text {
      color: #898989;
      font-size: 13px;
      line-height: 20px;
    }

    &__datetime {
      margin-top: 16px;
    }
  }

  .row {
    margin-left: 27px;
    margin-right: 27px;
  }

  .other-header-section {
    margin-top: 22px;

    .horizontal-line {
      width: 100%;
      height: 1px;
      background: #e7e7e9;
    }
  }

  .button-all-posts-container {
    margin-top: 48px;
    display: flex;
    justify-content: center;

    .button-all-posts {
      width: 266px;
      height: 40px;
      border-radius: 7px;
      border: 1px solid #e7e7e9;
      background: #fff;
    }
  }
}
