@font-face {
    font-family: 'GraphikBlack';
    src: url("/assets-digital-agency-enver/fonts/GraphikBlack.otf");
}

@font-face {
    font-family: 'GraphikRegular';
    src: url("/assets-digital-agency-enver/fonts/GraphikRegular.otf");
}

@font-face {
    font-family: 'Nunito Sans';
    src: url("/assets-digital-agency-enver/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

.main {
    background: #19191B;
    color: white;
    position: relative;
    overflow-x: hidden;

    .logo-section {
        display: flex;
        justify-content: space-between;
        padding: 40px 24px 0 24px;
    }

    .gradient {
        position: absolute;
        filter: blur(150px);

        &--first {
            width: 220px;
            height: 500px;
            transform: rotate(-40deg) translate(-20%, 50px);
            background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.11) 100%);
            left: 25%;
        }

        &--second {
            width: 215px;
            height: 510px;
            transform: rotate(45deg);
            top: 550px;
            left: 20%;
            background: linear-gradient(180deg, rgba(251, 168, 28, 0.26) 0%, rgba(224, 86, 136, 0.15) 100%);
        }
    }

    .button {
        background: #5454D4;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .click-button-logo {
            margin-left: 8px
        }

        &--rectangle {
            width: 166px;
            height: 44px;
            font-family: 'Nunito Sans';
            font-size: 16px;
            font-weight: 700;
            color: white;
            margin-top: 50px;
        }

        &--contacts {
            margin-left: 20px;
        }
    }

    &__section {
        padding: 66px 24px 0 24px;

        .main-header {
            font-size: 42px;
            font-family: 'GraphikBlack';
            line-height: 150%;
        }
    }

    .section-description {
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        font-family: 'Nunito Sans';
        line-height: 150%;
        margin-top: 30px;
    }

    .man-section {
        position: relative;
        margin-top: 60px;
        padding-bottom: 35px;

        &__image {
            height: fit-content;
            width: 100%;
        }
    }

    .vector-icon {
        position: absolute;

        &--man-section {
            left: 20px;
            top: 25px;
        }

        &--portfolio-section {
            left: 33px;
            bottom: 77px;
        }
    }

    .group-circle-icon {
        position: absolute;

        &--man-section {
            right: 40px;
        }

        &--portfolio-section {
            right: 24px;
            bottom: 60px;
        }

        &--contacts-section {
            bottom: 12px;
            left: 10px;
        }
    }

    .group-play-icon {
        position: absolute;

        &--man-section {
            bottom: 0;
            left: 20px;
        }

        &--features-section {
            left: 20px;
            top: 75px;
        }
    }

    .plus-icon {
        position: absolute;

        &--small {
            width: 28px;
            height: 28px;
        }

        &--man-section {
            bottom: 70px;
            right: 30px;
        }

        &--features-section {
            right: 10px;
            bottom: 0;
        }

        &--portfolio-section {
            top: 17px;
            left: 24px;
        }

        &--contacts-section {
            right: 30px;
            top: 10px;
        }
    }

    .video-section {
        margin: 110px 24px 0 24px;

        /*TODO:*/
        &__header {
            font-size: 36px;
            font-family: 'GraphikBlack';
            line-height: 150%;
        }

        &__container {
            position: relative;
            margin-top: 50px;

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__image {
            width: 100%;
            height: 100%;
        }

    }

    .features-section {

        &__header-container {
            position: relative;
            padding-top: 150px;
            padding-bottom: 15px;
        }

        &__container {
            margin-top: 30px;
            height: 294px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: 'Nunito Sans';
            text-align: center;
            align-items: center;

        }

        &__description-container {
            margin-left: 57px;
            margin-right: 57px;
        }

        &__image {
            width: 69px;
            height: 69px;
        }

        &__header {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.75px;
        }

        &__description {
            color: rgba(255, 255, 255, 0.70);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .secondary-header {
        font-size: 36px;
        font-family: 'GraphikBlack';
        line-height: 150%;
        margin-left: 24px;
        margin-right: 24px;
    }

    .ellipse-button {
        width: 38px;
        height: 38px;
        border-radius: 38px;

        &--enabled {
            transform: rotate(180deg);
            margin-left: 12px;
        }
    }

    .portfolio-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__header-container {
            position: relative;
            padding-top: 150px;
            padding-bottom: 50px;
        }

        &__footer {
            position: relative;
            padding-top: 50px;
            padding-bottom: 130px;
        }

        &__arrows-container {
            display: flex;
            justify-content: center;
        }
    }

    .contacts-section {
        background: rgba(30, 30, 32, 0.50);
        position: relative;
        padding: 80px 0 80px 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 306px;
        padding: 140px 0 50px 0;

        &__menu-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 164px;
        }

        &__item {
            color: rgba(255, 255, 255, 0.70);
            font-size: 18px;
            font-family: 'Nunito Sans';
            font-weight: 700;
            line-height: 28px;
            text-transform: capitalize;
        }

        .copyright {
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-family: 'GraphikRegular';
            line-height: 28px;
        }
    }
}