@custom-media --xl (min-width: 1280px);

.header {
  @media (--xl) {
    background-color: #f6f6f6;
    width: 258px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 12px 16px 0 16px;

    @media (--xl) {
      flex-direction: column;
      align-items: start;
      width: 258px;
      margin: 40px 0 0 24px;
    }

    .menu-button {
      border: none;
      background: transparent;
    }

    .menu-icon {
      @media (--xl) {
        display: none;
      }
    }
  }

  .search-icon-mobile {
    @media (--xl) {
      display: none;
    }
  }

  .search-container {
    display: none;

    @media (--xl) {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 43px;
    }

    .input-search {
      border: 0;
      border-radius: 7px;
      width: 176px;
      height: 32px;
      font-size: 13px;
      line-height: 20px;
      color: #898989;
      padding-left: 32px;
    }

    .search-icon {
      position: absolute;
      left: 0;
      margin-left: 8px;
    }
  }

  .menu {
    display: none;

    @media (--xl) {
      display: flex;
      flex-direction: column;
      margin-top: 37px;
    }

    .menu-item {
      color: #898989;
      margin-top: 11px;
      line-height: 27px;
      text-decoration: none;
    }
  }
}
