@custom-media --xl (min-width: 1280px);
@custom-media --sm (max-width: 1279px);

.header {
  height: 45px;
  transition: all 0.2s linear;
  @media (--xl) {
    background-color: #f6f6f6;
    height: auto;
    width: 258px;
  }

  @media (--sm) {
    &--mobile {
      background-color: #f6f6f6;
      height: 124px;
      transition: all 0.2s linear;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px 0 16px;

    @media (--xl) {
      flex-direction: column;
      align-items: start;
      width: 258px;
      padding: 40px 0 0 0;
    }

    .menu-button {
      border: none;
      background: transparent;
      padding: 0;
    }

    .menu-icon {
      @media (--xl) {
        display: none;
      }
    }

    .button-search {
      border: none;
      background: transparent;
      width: 20px;
      padding: 0;

      @media (--xl) {
        display: none;
      }
    }

    .main-row-margin {
      @media (--xl) {
        margin-left: 24px;
      }
    }

    .menu {
      display: none;

      @media (--xl) {
        display: flex;
        flex-direction: column;
        margin-top: 27px;
      }

      .menu-item {
        color: #898989;
        margin-top: 21px;
        margin-left: 36px;
        text-decoration: none;

        &--active {
          border-left: 3px solid #ec7160;
          padding-left: 12px;
          margin-left: 24px;
        }
      }
    }
  }

  .search-container {
    display: none;
    position: relative;

    @media (--xl) {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 43px;
    }

    .input-search {
      border: 0;
      border-radius: 7px;
      width: 100%;
      height: 32px;
      font-size: 13px;
      line-height: 20px;
      color: #898989;
      padding-left: 36px;

      @media (--xl) {
        width: 176px;
        padding-left: 32px;
      }
    }

    .search-icon {
      position: absolute;
      left: 10px;
    }

    &--mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      margin-left: 16px;
      margin-right: 16px;

      @media (--xl) {
        display: none;
      }
    }
  }
}
